/* Remy */
.card-front{background-image:url('/ad2/Remy_logo.png') !important;}
.card-back.image-1{background-image:url('/ad2/Remy1.png') !important;}
.card-back.image-2{background-image:url('/ad2/Remy2.png') !important;}
.card-back.image-3{background-image:url('/ad2/Remy3.png') !important;}
.card-back.image-4{background-image:url('/ad2/Remy4.png') !important;}
.card-back.image-5{background-image:url('/ad2/Remy5.png') !important;}
.card-back.image-6{background-image:url('/ad2/Remy6.png') !important;}
.card-back.image-7{background-image:url('/ad2/Remy7.png') !important;}
.card-back.image-8{background-image:url('/ad2/Remy8.png') !important;}
.card-back.image-9{background-image:url('/ad2/Remy9.png') !important;}
.card-back.image-10{background-image:url('/ad2/Remy10.png') !important;}
