/* MAFS (alt) */
.card-front{background-image:url('/ad6/MAFS_logo.png') !important;}
.card-back.image-1{background-image:url('/ad6/MAFS1.png') !important;}
.card-back.image-2{background-image:url('/ad6/MAFS2.png') !important;}
.card-back.image-3{background-image:url('/ad6/MAFS3.png') !important;}
.card-back.image-4{background-image:url('/ad6/MAFS4.png') !important;}
.card-back.image-5{background-image:url('/ad6/MAFS5.png') !important;}
.card-back.image-6{background-image:url('/ad6/MAFS6.png') !important;}
.card-back.image-7{background-image:url('/ad6/MAFS7.png') !important;}
.card-back.image-8{background-image:url('/ad6/MAFS8.png') !important;}
.card-back.image-9{background-image:url('/ad6/MAFS9.png') !important;}
.card-back.image-10{background-image:url('/ad6/MAFS10.png') !important;}
